* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  margin: 0;
}

/* ------------------------- Header ------------------------- */

.header {
  background: maroon;
  color: white;
  padding: 30px;
  text-align: center;
}

/* ------------------------- Navbar ------------------------- */

.navbar {
  background-color: black;
  display: flex;
}

.navbar a {
  color: white;
  flex: 20%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.disabled {
  background-color: grey;
  /* pointer-events: none; */
}

.here {
  display: none;
}

.disabled:hover {
  display: none;
}

.disabled:hover + .here {
  background-color: grey;
  display: block;
  color: white;
}

/* ------------------------- Todo ------------------------- */

.todoContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.todoForm {
  background-color: white;
  flex: 50%;
  padding: 30px;
}

.todoList {
  background-color: #f1f1f1;
  border-left: 1px solid black;
  flex: 50%;
  padding: 30px;
}

/* ------------------------- Footer ------------------------- */

.footer {
  background: maroon;
  border-top: 1px solid black;
  color: white;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

/* ------------------------- Resizing ------------------------- */

@media (max-width: 800px) {
  .row,
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    text-align: center;
  }
  .side {
    border-left: none;
    border-top: 1px solid black;
  }
}
