/* * {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
} */

#todoTable {
  border-collapse: collapse;
  width: 100%;
}

#todoTable td,
#todoTable th {
  border: 1px solid #ddd;
  padding: 5px;
}

#todoTable tr:nth-child(even) {
  background-color: #d3d3d3;
}

#todoTable tr:hover {
  background-color: #ce00ce;
}

#todoTable th {
  background-color: #b8860b;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

/* Light mode */

/* Dark mode */
