<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>To-Do App</title>
  </head>
  <body>
    <div class="header">
      <h1>To-Do App</h1>
      <h4>Version 5: Built with</h4>
    </div>

    <div class="navbar">
      <a href="../../../../../V1/index.html">Version 1</a>
      <a href="../../../../../V2/index.html">Version 2</a>
      <a href="">Version 3</a>
      <a href="../../../../../V4/src/main/resources/templates/index.html"
        >Version 4</a
      >
      <a class="disabled">Version 5</a>
    </div>
  </body>
  <script src="../static/js/script.js"></script>
</html>
